.theme-scope {
  font-family: var(--font-sans);
  color: var(--color-text-primary);
  line-height: 1.5;
  background-color: var(--color-bg-primary);
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-sizing: border-box;

  // shadow-sm
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    border-style: none;
    border-width: 0;
  }
}
