---
layout: layout-site
title: Jan’s WoDs
---



<div class="passworded">

{% assign val = 0 %}
{% for w in site.posts reversed %}
    {% unless val == w.week %}
      {% assign val = val | plus: 1 %}
      {% assign ctr = val %}
      {% capture week %} {{week}} {{ w.week }} {% endcapture %}
    {% endunless %}
{% endfor %}
 

{% assign weeks = week | split: ' ' %}
{% assign weeks = weeks | reverse %}
<!-- buggy as shiiiite: {{ weeks }} -->

<!-- ctr: {{ ctr }} -->

{% for w in weeks %}
  {% assign w_int = w | plus: 0 %}

  <!-- <div>Yo: {{ w_int }} | {{ ctr }}</div> -->

  {% if ctr == w_int %}
    <h3 class="week">Week {{ ctr }}</h3>

    <div class="list gr-two">
      {% for post in site.posts %}
        {% if post.week == w_int and post.published == true %}
          <div class="item">
            <h3>{{ post.title }}</h3>
            <div class="date">{{ post.date | date: "%d %B, %Y" }}</div>
            <div class="content">{{ post.content }}</div>
          </div>
        {% endif %}

      {% endfor %}
    </div>

  {% endif %}

  {% assign ctr = ctr | minus: 1 %}
{% endfor %}

</div>
