
<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Simple workouts of the day.</title>
  <meta name="description" content="workouts of the day">
  <meta name="keywords" content="workouts, work, lift, gym, whee">
  <meta name="author" content="Jan Zheng">
  <meta name="copyright" content="Jan Zheng">
  
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,600, 700, 900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="app/css/import.css">

  <script src="/app/js/jquery.min.js"></script>


</head>

<body>  

$password = 'northside';

<script>
function myFunction() {
    var txt;
    var person = prompt("What's the password?");
    if (person == null || person == "") {
        txt = "User cancelled the prompt.";
    } else {
        if(txt == {{ $password}} ) {
          console.log('yay')
        }
    }
    document.getElementById("demo").innerHTML = txt;
}
</script>


<div class="container">

  <div class="main _center">
    <a href="/"><h1>Workouts of the Day</h1></a>
    <h4>Form is key. It‘s not what you do&mdash;it‘s how you do it that matters most</h4>
    <span class="quote">tap the <span class="blue">?</span> to watch form tips</span>
  </div>

  <div>
    {{ content }}
  </div>
</div>

</body>
</html>



